@import "tailwindcss";

@font-face {
  font-family: "BrunoAceSC";
  src: url("/fonts/BrunoAceSC-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font1 {
  font-family: 'BrunoAceSC', sans-serif;
}

.font2 {
  font-family: 'Rajdhani', monospace;
}